.buttonStyle{
    background-color: #51026f;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 4px;
    border: none;
    margin-top: 2rem;
    height: 2.5rem;
    cursor: pointer;
}
.buttonStyle:hover{
    background-color:#5a2170; 

}