/* .App{
  display: flex;
  flex-direction:column;
  justify-content:center;
  width: 70%;
  margin: auto
} */

ntainer{
  display: flex;
  flex-direction:column;
}
.form-control{
  display: flex;
  flex-direction:row;
  align-items:center;
}
.form-control input{
  margin-left: 2rem
}

.account{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg,#51026f,white); 
  height:10rem
  
}
.labels{
  display: flex;
  flex-direction:column;
}
.labels label{
  margin-top: 2rem;
}
.inputs {
  display: flex;
  flex-direction:column;
  align-items: center;
}

.inputs input{
  margin-left: 5rem;
  margin-top: 2rem
}
