.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:absolute;
    align-items: center;
    top: 0;
    left: 0;
    height:4rem;
    background-color:#51026f;
    width: 100%;
}

.header img{
    height: 3rem;
    width: 3rem;
    margin-left: 5rem;
}

.left-header{
    margin-right: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.account{
    align-items: center;
    margin-left: 2rem;
    display: flex;
    gap:8px;
}
.icons{
    display: flex;
    justify-content:space-between;
    gap: 8px;
}

.logo-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu-icon{
    margin-left: 1rem;
    opacity: 0;
    color: white;
    width: 0px;
    cursor: pointer;
}

@media (width<933px){
    .menu-icon{
        opacity: 1;
    }
}
