.App {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content:flex-start;
    margin-top: 6rem;
    height :100%
}

.lef-container {
    height: 100%;
    width: 65%;
    background-color: white;
    margin-right: 3rem;

}

.right-container {
    width: 25%;
    background-color: white;
    margin-left: 3rem;
    display: flex;
    height: 100%;
}