.App {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-start;
    margin-top: 6rem;
    height: 100%;
}

.lef-container {
    height: 100%;
    width: 65%;
    background-color: white;
    margin-right: 3rem;

}

.right-container {
    width: 25%;
    background-color: white;
    margin-left: 3rem;
    display: flex;
    height: 100%;
}

@media (width<933px) {
    .right-container {
        opacity: 0;
        width: 0px;
        height: 0px;
    }

    .lef-container {
        width: 100%;
    }
}